{% import _self as macro %}

{% macro item(name, title, route) %}
    {% set url = path(route) %}
    {% set active = app.request.get('_route')|slice(0, name|length) == name %}
    <a class="px-3 py-2 text-light text-decoration-none {{ active ? 'bg-secondary' : '' }}" href="{{ url }}">{{ title }}</a>
{% endmacro %}

<nav class="bg-dark">
    <div class="d-flex justify-content-start px-3 px-md-4 px-lg-5">
        {{ macro.item('dashboard', 'Dashboard', 'dashboard') }}
    </div>
</nav>