{% extends 'base.html.twig' %}

{% set title = 'Clients' %}

{% block content %}
    {% embed 'partials/card.html.twig' with {items:clients, title:'Clients', actions: {
        'Add':path('client_add'),
    }} %}
        {% block body %}
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                        <tr>
                            <td>
                                <a href="{{ path('client_view', {id:client.id}) }}">{{ client.name }}</a>
                            </td>
                            <td>{{ client.email }}</td>
                            <td>{{ client.address }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}
{% endblock %}
