{% embed 'partials/card.html.twig' with {title:clients|length ~ ' Clients', actions:actions is defined ? actions : [
    {name:'Add', path:path('client_add')},
]} %}
    {% block body %}
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Invoices</th>
                    <th>Projects</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr data-link="{{ path('client_view', {id:client.id}) }}">
                        <td>{{ client.name }}</td>
                        <td>{{ client.invoices|length }}</td>
                        <td>{{ client.projects|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endembed %}