{% extends 'base.html.twig' %}

{% set title = 'Clients' %}

{% block content %}
    {% embed 'partials/card.html.twig' with {title:clients|length ~ ' Clients'} %}
        {% block actions %}
            {% include 'partials/link.html.twig' with {name:'Add', path:path('client_add')} %}
        {% endblock %}
        {% block body %}
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                        <tr data-link="{{ path('client_view', {id:client.id}) }}">
                            <td>{{ client.name }}</td>
                            <td>{{ client.email }}</td>
                            <td>{{ client.address }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}
{% endblock %}
