{% extends 'base.html.twig' %}

{% set title = client.name %}

{% block content %}
	{% embed 'partials/card.html.twig' %}
		{% block actions %}
            {% include 'partials/link.html.twig' with {name:'Edit', path:path('client_edit', {id:client.id})} %}
		{% endblock %}
		{% block body %}
			<table class="table table-sm table-hover">
				<tbody>
					<tr>
						<th>Name</th>
						<td>{{ client.name }}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{ client.email }}</td>
					</tr>
					<tr>
						<th>Address</th>
						<td>{{ client.address }}</td>
					</tr>
				</tbody>
			</table>
		{% endblock %}
	{% endembed %}
{% endblock %}
