{% extends 'base.html.twig' %}

{% block content %}
	{% embed 'partials/card.html.twig' with {title:client.name} %}
		{% block body %}
			<table class="table table-sm table-hover">
				<tbody>
					<tr>
						<th>Name</th>
						<td>{{ client.name }}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{ client.email }}</td>
					</tr>
					<tr>
						<th>Address</th>
						<td>{{ client.address }}</td>
					</tr>
				</tbody>
			</table>
		{% endblock %}
	{% endembed %}
{% endblock %}
