<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ title is defined ? (title ~ ' - ') : '' }}Admin</title>
		<link href="/assets/bootstrap.min.css" rel="stylesheet">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="bg-light">
		{% block body %}
            {% include 'partials/nav.html.twig' %}
			<main class="d-grid gap-3 p-3 gap-md-4 p-md-4 gap-lg-5 p-lg-5">
                {% include 'partials/notifications.html.twig' %}
				{% block content %}{% endblock %}
			</main>
		{% endblock %}
	</body>
</html>
